body {
    border: solid 1px #ccc;
    margin: 0 auto;
    text-align: center;
}

header,
section,
footer {
    margin: 20px;
}

.hide {
    display: none;
}

.jsPuriFunc {
    float: right;
}

.coldActivated {
    background-color: blue;
    color: white;
    outline: none;
}

.hotActivated {
    background-color: red;
    color: white;
    outline: none;
}

.continueActivated {
    background-color: black;
    color: white;
    outline: none;
}
